{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:url" content="http://emilywivell.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Web Developer Extraordinaire" />
        <meta property="og:description" content="Let's create something together." />
        <meta property="og:image" content="portfolio_app/static/app/img/head-shot-circle.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/stroke/53/Bolt-512.png" />
        <title>Emily Wivell</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Poiret+One|Oleo+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'main.css' %}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="container">
            <!-- navbar -->
            <div class="navBar navbar-fixed-top">
                <div class="navLinks">
                    <ul>
                        <li><a href="{% url 'main_view' %}">Home</a></li>
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="/static/app/img/Emily-Wivell-Resume.pdf" download>Resume</a></li>
                        <li><a href="mailto:emjwivell@gmail.com?Subject=Let%20Us%20Work%20Together" target="_top">Message Me!</a></li>
                    </ul>
                </div>
                <div class="socialLinks">
                    <ul>
                        <li><a href="https://twitter.com/emjwivell" target="_blank"><img class="socialImg" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-512.png" alt="Twitter" /></a></li>
                        <li><a href="https://github.com/emjwivell" target="_blank"><img class="socialImg" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="Github" /></a></li>
                        <li><a href="https://www.linkedin.com/in/emily-wivell-8311b753" target="_blank"><img class="socialImg" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" alt="LinkdIn" /></a></li>
                    </ul>
                </div>
            </div>
            <!-- versitle contnet -->
            {% block content %}
            {% endblock %}
            <!-- footer -->
            <div class="footer navbar-fixed-bottom">
                <h5>Thanks for taking the time to look at all my coolness.  Let's create something of value.</h5>
            </div>
            </body>
        </div>
</html>
