{% extends 'base.html' %}

{% block content %}
<div class="banner">
    <div class="banner-text">
        <h1>Emily Wivell</h1>
        <h2>Web Developer</h2>
    </div>
</div>
<!-- three columns at the bottom of the page -->
<div class="row" id="about-me">
    <div class="panel panel-default col-md-4" height=450px>
        <div class="panel-heading">
            <h3 class="panel-title">Samples of Work</h3>
        </div>
        <div class="panel-body">
            <div class="portfolio-links">
                <ul id="port-links">
                    <li><a id="social-app"class="project-display" href="https://github.com/emjwivell/Social" target="_blank">Social App<span><img src="/static/app/img/Liquid Courage.png" alt="Liquid Courage" width=225px  /><br />Social App<p>#LiquidCourage is a social app that allows users to share there favorite drinks and recepies with others.  Included features: following other users and liking recipies.</p></span></a></li>
                    <li><a class="project-display" href="http://la-belle-fleur-ejw.us-east-1.elasticbeanstalk.com/" target="_blank">La Belle Fleur App<span><img src="/static/app/img/La-Belle-Fleur.png"  alt="La Belle Fleur App" width=225px  /><br />La Belle Fleur App<p>Created as a platform for Florists to sell their products with ease.  Consomers can also browse the gallery and make purchases.</p></span></a></li>
                    <li><a class="project-display" href="https://github.com/emjwivell/UltimateGuitar" target="_blank">Guitar Tab App<span><img src="/static/app/img/Guitar Getter.png"  alt="Guitar Tab App" width=225px  /><br />Guitar Tab App<p>This app was created for the guitar playing community, to enjoy looking up popular song tabs without the hassel of ads.</p></span></a></li>
                </ul>
            </div>
            <div>
            <p><a href = "javascript:void(0)" onclick = "document.getElementById('sociallight').style.display='block';document.getElementById('socialfade').style.display='block'">Social App</a></p>
           <div id="sociallight" class="social_content"> <span><img src="/static/app/img/Liquid Courage.png" alt="Liquid Courage" width=225px  /><br />Social App<p>#LiquidCourage is a social app that allows users to share there favorite drinks and recepies with others.  Included features: following other users and liking recipies.</p></span> <a href = "javascript:void(0)" onclick = "document.getElementById('sociallight').style.display='none';document.getElementById('socialfade').style.display='none'"><img width=35px src="http://www.free-icons-download.net/images/green-back-button-icon-65921.png" alt="Back" /></a></div>
                <div id="socialfade" class="social_overlay"></div>
            </div>
            <div>
            <p><a href = "javascript:void(0)" onclick = "document.getElementById('bellelight').style.display='block';document.getElementById('bellefade').style.display='block'">La Belle Fleur App</a></p>
           <div id="bellelight" class="belle_content"> <span><img src="/static/app/img/La-Belle-Fleur.png"  alt="La Belle Fleur App" width=225px  /><br />La Belle Fleur App<p>Created as a platform for Florists to sell their products with ease.  Consomers can also browse the gallery and make purchases.</p></span> <a href = "javascript:void(0)" onclick = "document.getElementById('bellelight').style.display='none';document.getElementById('bellefade').style.display='none'"><img width=35px src="http://www.free-icons-download.net/images/green-back-button-icon-65921.png" alt="Back" /></a></div>
                <div id="bellefade" class="belle_overlay"></div>
            </div>
            <div>
            <p><a href = "javascript:void(0)" onclick = "document.getElementById('guitarlight').style.display='block';document.getElementById('guitarfade').style.display='block'">Guitar Tab App</a></p>
           <div id="guitarlight" class="guitar_content"> <span><img src="/static/app/img/Guitar Getter.png"  alt="Guitar Tab App" width=225px  /><br />Guitar Tab App<p>This app was created for the guitar playing community, to enjoy looking up popular song tabs without the hassel of ads.</p></span> <a href = "javascript:void(0)" onclick = "document.getElementById('guitarlight').style.display='none';document.getElementById('guitarfade').style.display='none'"><img width=35px src="http://www.free-icons-download.net/images/green-back-button-icon-65921.png" alt="Back" /></a></div>
                <div id="guitarfade" class="guitar_overlay"></div>
            </div>
        </div>
        <div class="banner-headshot">
        </div>
    </div>
    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Who is Emily Wivell?</h3>
        </div>
        <div class="panel-body" id="bio">
            <p class="indent">
                In 1999, at the age of ten, I became an award winning programmer.  I brought home a trophy for a computer program I wrote about Space Shuttles.  Since then, coding has always held a warm place in my heart.  I have taken a few classes over the years, most recently a Java class in the winter of 2015, and coded in my spare time as a hobby.  I would open up notepad and type up html some html while at work.</p>
            <p class="indent">
                It wasn't until I found <a href="https://www.theironyard.com/locations/greenville.html" target="_blank">THE IRON YARD GREENVILLE</a> that I challenged myself to turn my hobby into a career.  Aside for coding I also enjoy a good pun and I like to show off my amazing coding skills.  I absolutely LOVE to learn new things which means my days are full and asking questions and finding answers.  Pretty things are good, but pretty things with functionality are the best!</p>
        </div>
    </div>
    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Parts of Me</h3>
        </div>
        <div class="panel-body middle-column">
            <img width="100px" src="http://photos3.meetupstatic.com/photos/event/9/6/c/1/600_432338593.jpeg" alt="The Iron Yard" />
            <img width="100ps" src="http://www.libcrowds.com/static/img/css-logo.png" alt="css" />
            <img width="100px" src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/imac.png" alt="OS X" />
            <img width="100px" src="http://www.iconsplace.com/download/orange-database-256.png" alt="database design" />
            <img width="100px" src="http://www.iconarchive.com/download/i86042/graphicloads/100-flat-2/cloud.ico" alt="cloud" />
            <img width="100px" src="http://www.pyladies.com/assets/images/pyladies_natal.png" alt="PyLadies" />
            <img width="100px" src="https://wiki.smu.edu.sg/is480/img_auth.php/thumb/1/10/Tweetboard_bootstrap_logo.png/250px-Tweetboard_bootstrap_logo.png" alt="Bootstrap" />
            <img width="100px" src="https://f5.com/Portals/1/products-ltm-customized-icon.png" alt="terminal" />
            <img width="100px" src="https://www.parsely.com/docs/_static/icon-api.png" alt="api" />
            <img width="100px" src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAOJAAAAJDg0ZWJlZmQ2LWMwNGUtNDcxNC1hOTEyLWU2ZDFjZTY5N2U1NA.png" alt="html" />
            <img width="110px" src="https://kevin-brown.com/images/projects/django-rest-framework.png" alt="django rest framework" />
            <img width="100px" height="100px" src="http://coderazzi.net/images/django.png" alt="django" />
            <img width="100px" src="https://svn.janelia.org/penglab/projects/vaa3d/trunk/experimental/brunsc/python_console/icons/python-logo-glassy2.png" alt="python" />
            <img width="100px" src="https://pbs.twimg.com/profile_images/444097205406662657/3P_WnJrN_400x400.jpeg" alt="Women Who Code" />
            <img width="100px" src="http://photos3.meetupstatic.com/photos/event/4/5/c/0/600_446237856.jpeg" alt="Django+Python Greenville" />
        </div>
    </div>
</div>
{% endblock %}
